

<% if (messages && messages.length > 0) { %>
  <div class="flash-message success">
    <% messages.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>

<% if (errors) { %>
        <ul class="flash-message error">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
        </ul>
    <% } %>    

<div class="management-form">
  <h1>Account Management</h1>
  <div class="account-card">
    <h2>Welcome <%= accountData.account_firstname %></h2>   

    <% if (accountData.account_type === "Employee" || accountData.account_type === "Admin") { %>
      <div class="management">
        <h3>Inventory Mangement</h3>
        <p><a href="/inv">Go to Inventory Management</a></p>
      </div>  
    <% } %>
  
      
    <div class="account-settings">
      <h3>Account Settings</h3>
      <p><a href="/account/update/<%= accountData.account_id %>">Update Account Information</a></p>
    </div>
  </div>  
</div>    