<main class="register-container">
    <h1><%=title %></h1>

    <% if (messages) { %>
        <div class="flash-message">
            <%- messages() %>
        </div>
    <% } %>

    <% if (errors) { %>
        <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
        </ul>
    <% } %>

    <form action="/account/register" method="post" class="register-form">
        <label for="account_firstname">First Name:</label>
        <input type="text" id="account_firstname" name="account_firstname" required placeholder="First Name">

        <label for="account_lastname">Last Name:</label>
        <input type="text" id="account_lastname" name="account_lastname" required placeholder="Last Name">

        <label for="account_email">Email Address:</label>
        <input type="email" id="account_email" name="account_email" required placeholder="Enter a valid email address">

        <label for="account_password">Password:</label>
        <input type="password" id="account_password" name="account_password"
            pattern="(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{12,}"
            title="Password must be atleast 12 characters, include a capital letter, a number, and a special character." 
            required>
        
        <label class="show-password"><input type="checkbox" onclick="togglePassword()">Show Password</label>
        
        <button type="submit">Register</button>

    </form>

    <p class="login-link">Already have an account? <a href="/account/login">Login here</a></p>
</main>

<script>
    function togglePassword() {
        const pwdField = document.getElementById("account_password")
        pwdField.type = pwdField.type === "password" ? "text" : "password"
    }
</script>