<h1>Add New Classification</h1>

<% if (messages && messages.length > 0) { %>
    <div class="flash-message">
        <% messages.forEach(msg => { %>
            <p><%= msg %></p>
        <% }) %>
    </div>
<% } %>

<% if (errors) { %>
    <div class="form-error-classification">
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    </div>    
<% } %>

<form action="/inv/add-classification" method="post" class="classification-form">
    <label for="classification_name">Classification Name: </label>
    <input type="text" id="classification_name" name="classification_name" pattern="^[A-Za-z0-9]+$" required value="<%= typeof classification_name !== 'undefined' ? classification_name : '' %>">
    
    <button type="submit" class="submit-btn">Add Classification</button>
</form>