<h1>Inventory Management</h1>

<% if (messages && messages.length > 0) { %>
  <div class="flash-message">
    <% messages.forEach(function(message) { %>
      <p><%= message %></p>
    <% }) %>
  </div>
<% } %>


<ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Inventory</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Choose a classification to see available inventory</p>

<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="/js/inventory.js"></script>